<?xml version="1.0"?>
<config>
    <modules>
        <Laybuy_Payments>
            <version>0.1.0</version>
        </Laybuy_Payments>
    </modules>
    <global>
        <models>
            <payments>
                <class>Laybuy_Payments_Model</class>
                <resourceModel>laybuy_payments_resource</resourceModel>
            </payments>
            <laybuy_payments_resource>
                <class>Laybuy_Payments_Model_Resource</class>
            </laybuy_payments_resource>
        </models>
        <blocks>
            <payments>
                <class>Laybuy_Payments_Block</class>
            </payments>
        </blocks>
        <helpers>
            <laybuy_payments>
                <class>Laybuy_Payments_Helper</class>
            </laybuy_payments>
        </helpers>
        <resources>
            <laybuy_payments_setup>
                <setup>
                    <module>Laybuy_Payments</module>
                </setup>
            </laybuy_payments_setup>
        </resources>
    </global>
    <default>
        <payment>
            <laybuy_payments>
                <model>payments/payments</model>
                <active>1</active>
                <order_status>pending</order_status>
                <title>Laybuy</title>
                <payment_action>sale</payment_action>
                <allowspecific>0</allowspecific>
                <sort_order>2</sort_order>
            </laybuy_payments>
        </payment>
    </default>
    <frontend>
        <routers>
            <payments>
                <use>standard</use>
                <args>
                    <module>Laybuy_Payments</module>
                    <frontName>laybuypayments</frontName>
                </args>
            </payments>
        </routers>
    </frontend>
</config>